<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Pure Drawer{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1 minimal-ui">
        <meta property="og:image" content="assets/gfx/iphone-new.png"/>
        <meta property="og:site_name" content="Pure Drawer"/>
        <meta property="og:title" content="Pure CSS transition effects for off-canvas views"/>
        
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "app.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
        {{ "vendor/modernizr-2.6.2.min.js" | asset_url | script_tag }}
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="pure-container" data-effect="pure-effect-1">
            <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left"/>
            <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">+</label>

            <nav class="pure-drawer" data-position="left">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <ul class="nav-primary">
                            <li><a href="/">Home</a></li>
                            <li><a href="/documentation">Documentation</a></li>
                            <li><a href="/multiple">Demo Multiple Drawers</a></li>
                            <li><a href="/features">Planned Features</a></li>
                        </ul> 
                    </div>
                </div>
            </nav>   
            
            <div class="pure-pusher-container">
                <div class="pure-pusher">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label> 
        </div>

        {% block scripts %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {{ "vendor/prism.js" | asset_url | script_tag }}
        {{ "vendor/scrollIt.js" | asset_url | script_tag }}
        {{ "vendor/jquery.scrollTo.js" | asset_url | script_tag }}
        {{ "vendor/jquery.localScroll.js" | asset_url | script_tag }}
        {{ "vendor/smoothscroll.js" | asset_url | script_tag }}
        {{ "vendor/wow.js" | asset_url | script_tag }}
        {{ "vendor/stellar.js" | asset_url | script_tag }}
        {{ "app.js" | asset_url | script_tag }}
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "50c49065-144f-4b6c-9e42-57d0ae4318af", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-53442203-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>

