<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Pure Drawer{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1 minimal-ui">
        
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        {{ "app.css" | asset_url | stylesheet_tag }}
        {{ "vendor/modernizr-2.6.2.min.js" | asset_url | script_tag }}
    </head>
    <body>
        <div class="pure-container" data-effect="pure-effect-8">
            <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left"/>
            <input type="checkbox" id="pure-toggle-right" class="pure-toggle" data-toggle="right"/>
            <input type="checkbox" id="pure-toggle-top" class="pure-toggle" data-toggle="top"/>
            
            <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">+</label>
            <label class="pure-toggle-label" for="pure-toggle-right" data-toggle-label="right">+</label> 
            <label class="pure-toggle-label" for="pure-toggle-top" data-toggle-label="top">+</label>  

            <nav class="pure-drawer" data-position="left">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <ul class="nav-primary">
                            <li><a href="/">Home</a></li>
                            <li><a href="/documentation">Documentation</a></li>
                            <li><a href="/features">Planned Features</a></li>
                        </ul> 
                    </div>
                </div>
            </nav>

            <nav class="pure-drawer" data-position="right">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <ul class="nav-primary">
                            <li><a href="/">Home</a></li>
                            <li><a href="/documentation">Documentation</a></li>
                            <li><a href="/features">Planned Features</a></li>
                        </ul> 
                    </div>
                </div>
            </nav>

            <nav class="pure-drawer" data-position="top">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <ul class="nav-primary">
                            <li><a href="/">Home</a></li>
                            <li><a href="/documentation">Documentation</a></li>
                            <li><a href="/features">Planned Features</a></li>
                        </ul> 
                    </div>
                </div>
            </nav>    
            
            <div class="pure-pusher-container">
                <div class="pure-pusher">
                    {% block content %}{% endblock %}
                </div> 
            </div>
            
            <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label> 
            <label class="pure-overlay" for="pure-toggle-right" data-overlay="right"></label>
            <label class="pure-overlay" for="pure-toggle-top" data-overlay="top"></label>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {{ "vendor/prism.js" | asset_url | script_tag }}
        {{ "vendor/scrollIt.js" | asset_url | script_tag }}
        {{ "vendor/jquery.scrollTo.js" | asset_url | script_tag }}
        {{ "vendor/jquery.localScroll.js" | asset_url | script_tag }}
        {{ "vendor/smoothscroll.js" | asset_url | script_tag }}
        {{ "vendor/wow.js" | asset_url | script_tag }}
        {{ "vendor/stellar.js" | asset_url | script_tag }}
        {{ "app.js" | asset_url | script_tag }}
    </body>
</html>

